<div class="container mt-5">
    <div class="row"> 
        <div class="column"> 

            <h1>Bored Apes Club</h1>

            <ul>
            <% @apes.each do |ape| %>
                <li><%= link_to ape.name, ape_path(ape) %></li>
            <% end %>
            </ul>

            <% if policy(Ape).create?%>
            <% link_to 'New Ape', new_ape_path%>
            <% end %>

         </div>
    </div>
</div>

