<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://i.kym-cdn.com/entries/icons/original/000/038/752/boredapeheader.jpg);">
  <div class="container">
    <h1>Bring <strong>Bored Apes</strong> to <strong>life ! </strong></h1>
    <p><strong>Create</strong> and <strong>trade</strong> the most hyped apes in the space</p>
    <%= link_to 'Get yours now', apes_path, class: "btn btn-warning"%>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>